wandb
numpy==1.26.4
transformers
datasets
python-dotenv
huggingface_hub
nbformat
torch==2.3.1
git+https://github.com/huggingface/peft
unsloth[pip]@git+https://github.com/unslothai/unsloth.git
bitsandbytes